{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <div class="container-fluid">
        {% include 'partials/flashes/success.html.twig' %}
        <div class="row">
            <p class="text-center col-12"><a href="{{ path('main_home') }}">Retour liste des bien immobiliers</a></p>
        </div>
        {# Titre h1 #}
        <div class="row">
            <h1 class="col-12 text-center my-5">{{bienimmo.title}}</h1>
        </div>
        

        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="card my-2 bg-black">
                    <div class="card-body">
                        <div class="card mr-auto ml-auto mt-3" style="width: 60rem;">
                            <img class="card-img-top picture-immo" src="../../images/tenor.gif" alt="Card image cap">
                            <div class="card-body">
                            <h5 class="card-title">{{bienimmo.title}} :: titre dégeulasse dsl</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                            <li class="list-group-item">Il y à {{bienimmo.room}} pièces pour un superficie de {{bienimmo.area}} m² pour un prix de  {{bienimmo.price}} euro</li>
                            <li class="list-group-item">l'annonce à étais posté le {{bienimmo.datePublicationAddImmo|date('d/m/Y')}} elle se sité a {{bienimmo.common}} dans le {{bienimmo.postalCode}}</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>{{dump(bienimmo)}}
       
    </div>
{% endblock %}
